<div class="kPage">
    <div class="kLibraryBody">
        <section>
            <h1 class="zybooks-section-header active-books-header kSectionHeader">Active class zyBooks</h1>
            <div class="zybooks-container medium">
                <a href="/zybook">
                    <div class="kzyBookContainer"></div>
                </a>
            </div>
        </section>
    </div>
    <footer class="zb-footer ember-view">
            <ul>
                <li>
                    <a href="http://twitter.com/zyBooks" rel="noopener noreferrer" target="_blank"> Twitter </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/news/" rel="noopener noreferrer" target="_blank"> Blog </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/about-us/" rel="noopener noreferrer" target="_blank"> About us </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/authoring-team/" rel="noopener noreferrer" target="_blank"> Authors </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/catalog/" rel="noopener noreferrer" target="_blank"> Catalog </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/research/" rel="noopener noreferrer" target="_blank"> Research </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/pricing/" rel="noopener noreferrer" target="_blank"> Pricing </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/careers/" rel="noopener noreferrer" target="_blank"> Careers </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/terms-of-use/" rel="noopener noreferrer" target="_blank"> Terms of service </a>
                </li>
                <li>
                    <a href="http://www.zybooks.com/privacy-policy/" rel="noopener noreferrer" target="_blank"> Privacy </a>
                </li>
            </ul>
        </footer>
</div>
{{outlet}}